.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginTitle {
  margin-bottom: 30px;
}

.loginLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.loginBtn {
  width: 100%;
}

/* .loginInput:hover {
} */

.loginInput:hover,
.loginInput:focus {
  box-sizing: content-box;
  border: solid lightblue 5px;
  border-radius: 2px;
}
